# Overview

This notebook assumes you have already collected and scored MOC tweets. It creates a dataset for use in R to analyze the patterns of polarization over time. You will do some parsing on an AWS server and some locally before ultimately making a CSV file that you can open and analyze in R.

LH Note: on my computer, Git stuff and data live in different places, so you'll see notes about moving files or changing directories. I haven't figured out a good way to keep files in both places or to mirror or sync or whatever. So, for now, paths are hard-coded or there's a note about where to find a file.

# Get Data

2016 election data is on an AWS server under ```/data/purpletag```. 

To login: 

```ssh -i ~/.ssh/carolgrrr.pem ubuntu@purpletag.casmlab.org```

The data is large (> 4GB), so best to run Juypter notebooks to parse on the server. Then CSV files can be used locally.

You can run a notebook on the server and use your local browser with these two commands:

* ```ssh -L 8080:localhost:8888 -i ~/.ssh/carolgrrr.pem ubuntu@purpletag.casmlab.org```
* ```nohup jupyter notebook --no-browser > log.txt 2>&1 &```

Then access ```http://localhost:8080``` in your browser.

## On server: Parsing from ```scores``` files to CSV

This section assumes you have already run purpletag's ```collect``` and ```score``` functions and gotten the Twitter data that you want in JSON format and parsed that data into score files.

In [1]:
# Based on https://stackoverflow.com/questions/26415906/read-multiple-txt-files-into-pandas-dataframe-with-filename-as-column-header
import pandas as pd
import os
import glob
import yaml

def build_file_list(directory, extension):
    '''
    args: 
        directory - full path to where the files are
            ex: /data/purpletag/scores
        extension - tells us which files to include in the list
            ex: *.l.moc.scores # using 1-day purpletag MOC scores
    '''
    
    # Step 1: get a list of all score files in target directory
    fileList = []
    os.chdir( directory )

    # Step 2: Build up list of files:
    for files in glob.glob(extension): 
        fileName, fileExtension = os.path.splitext(files)
        fileList.append(files) #filename with extension
        
    return fileList

def build_df(fileList, outfile, score_type):
    '''
    args:
        fileList - list of files to include, usually output from build_file_list
        outfile - full path to where to put the df
            ex: /data/purpletag/mocs_by_date.pkl
    '''
    # Step 3: Build up DataFrame:
    # Based on https://stackoverflow.com/questions/35717706/python-how-to-turn-a-dictionary-of-dataframes-into-one-big-dataframe-with-colum
    d = {} # dictionary to hold multiple dfs

    for filename in fileList:
        df1 = pd.read_csv(filename, header=None, sep=' ', index_col=0)
        if score_type == 'moc': # moc score files
            d[filename[:-13]] = df1
        else: # tag score files
            d[filename[:-9]] = df1

    df = pd.concat(d, axis=1)
    df.columns = df.columns.droplevel(-1) 

    df.to_pickle(outfile)

In [2]:
# set some variables that get used a few times below
#git_path = "/home/ubuntu/purpletag" # where is the GitHub repo that holds this notebook
git_path = "/Users/libbyh/Documents/git/libbyh/purpletag/"
git_data_path = git_path + "2016-election-study/data-files/"
pt_path = "/data/purpletag" # where are the scores and other purpletag-generated data

In [ ]:
fileList = build_file_list('/data/purpletag/scores', '*.1.moc.scores')
build_df(fileList, '/data/purpletag/mocs_by_date_test.pkl', 'moc')

Move the file from the AWS server to local if you want to work locally. For example, to move the file ```mocs_by_date.pkl``` from the server to my local repo, I use:

```scp -i ~/.ssh/carolgrrr.pem ubuntu@purpletag.casmlab.org:/data/purpletag/mocs_by_date.pkl ~/Documents/git/casmlab/purpletag/files/```

## Locally: Prepping for stats

We now have a pickled dataframe of the form handleXdate. We need to keep data only from Labor Day to Election Day and get weekly averages.

In [3]:
import pandas as pd

df = pd.read_pickle(git_data_path + 'mocs_by_date.pkl')
df.head()

,2015-11-10,2015-11-11,2015-11-12,2015-11-13,2015-11-14,2015-11-15,2015-11-16,2015-11-17,2015-11-18,2015-11-19,...,2016-10-30,2016-10-31,2016-11-01,2016-11-02,2016-11-03,2016-11-04,2016-11-05,2016-11-06,2016-11-07,2016-11-08
austinscottga08,NaN,2.40933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
benniegthompson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.85585,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bettymccollum04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-90.838,-61.3435,-40.482,NaN,-33.4513,NaN,NaN,NaN
billpascrell,NaN,NaN,-1.168750,-0.916501,-0.972477,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-17.9542,NaN,NaN,NaN,NaN,NaN,NaN
boblatta,NaN,NaN,0.100723,NaN,NaN,1.70286,NaN,1.56897,NaN,-0.031978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def weekly_avg(df):
    '''
    Given a df from build_df, keep just the weeks we are interested in.
    '''
    week1_dates = ['2016-09-06','2016-09-07','2016-09-08','2016-09-09','2016-09-10','2016-09-11','2016-09-12']
    week2_dates = ['2016-09-13','2016-09-14','2016-09-15','2016-09-16','2016-09-17','2016-09-18','2016-09-19']
    week3_dates = ['2016-09-20','2016-09-21','2016-09-22','2016-09-23','2016-09-24','2016-09-25','2016-09-26']
    week4_dates = ['2016-09-27','2016-09-28','2016-09-29','2016-09-30','2016-10-01','2016-10-02','2016-10-03']
    week5_dates = ['2016-10-04','2016-10-05','2016-10-06','2016-10-07','2016-10-08','2016-10-09','2016-10-10']
    week6_dates = ['2016-10-11','2016-10-12','2016-10-13','2016-10-14','2016-10-15','2016-10-16','2016-10-17']
    week7_dates = ['2016-10-18','2016-10-19','2016-10-20','2016-10-21','2016-10-22','2016-10-23','2016-10-24']
    week8_dates = ['2016-10-25','2016-10-26','2016-10-27','2016-10-28','2016-10-29','2016-10-30','2016-10-31']
    week9_dates = ['2016-11-01','2016-11-02','2016-11-03','2016-11-04','2016-11-05','2016-11-06','2016-11-07']

    df['week1'] = df[week1_dates].mean(axis=1)
    df['week2'] = df[week2_dates].mean(axis=1)
    df['week3'] = df[week3_dates].mean(axis=1)
    df['week4'] = df[week4_dates].mean(axis=1)
    df['week5'] = df[week5_dates].mean(axis=1)
    df['week6'] = df[week6_dates].mean(axis=1)
    df['week7'] = df[week7_dates].mean(axis=1)
    df['week8'] = df[week8_dates].mean(axis=1)
    df['week9'] = df[week9_dates].mean(axis=1)
    
    return df

df = weekly_avg(df)
df.head()

,2015-11-10,2015-11-11,2015-11-12,2015-11-13,2015-11-14,2015-11-15,2015-11-16,2015-11-17,2015-11-18,2015-11-19,...,2016-11-08,week1,week2,week3,week4,week5,week6,week7,week8,week9
austinscottga08,NaN,2.40933,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.932035,NaN,1.064290,3.675700,6.042600,1.561610,NaN,NaN
benniegthompson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.85585,NaN,NaN,...,NaN,NaN,-1.211380,NaN,NaN,NaN,-1.823010,NaN,NaN,NaN
bettymccollum04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-56.669016,-119.884760,-67.172900,-59.540265,-27.995798,-33.955595,-4.879673,-33.080633,-56.5287
billpascrell,NaN,NaN,-1.168750,-0.916501,-0.972477,NaN,NaN,NaN,NaN,NaN,...,NaN,-2.871430,-2.623810,-2.353348,-2.337897,NaN,-1.026550,NaN,-1.333330,-17.9542
boblatta,NaN,NaN,0.100723,NaN,NaN,1.70286,NaN,1.56897,NaN,-0.031978,...,NaN,1.379970,9.673527,NaN,NaN,NaN,0.974138,NaN,NaN,NaN

In [5]:
weekly_df = df[['week1','week2','week3','week4','week5','week6','week7','week8','week9']]
weekly_df["handle"] = weekly_df.index.str.lower() # this line throws the SettingWithCopyWarning which I'm ignoring
weekly_df.head()

/Users/libbyh/anaconda3/envs/purpletag/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,week1,week2,week3,week4,week5,week6,week7,week8,week9,handle
austinscottga08,NaN,4.932035,NaN,1.064290,3.675700,6.042600,1.561610,NaN,NaN,austinscottga08
benniegthompson,NaN,-1.211380,NaN,NaN,NaN,-1.823010,NaN,NaN,NaN,benniegthompson
bettymccollum04,-56.669016,-119.884760,-67.172900,-59.540265,-27.995798,-33.955595,-4.879673,-33.080633,-56.5287,bettymccollum04
billpascrell,-2.871430,-2.623810,-2.353348,-2.337897,NaN,-1.026550,NaN,-1.333330,-17.9542,billpascrell
boblatta,1.379970,9.673527,NaN,NaN,NaN,0.974138,NaN,NaN,NaN,boblatta

In [6]:
weekly_df.sort_values(by = 'week2', ascending = True).head()

,week1,week2,week3,week4,week5,week6,week7,week8,week9,handle
replawrence,-28.383236,-308.088,-18.402877,-32.248687,0.698665,-43.500575,NaN,NaN,-0.811634,replawrence
repdennyheck,NaN,-300.145,-10.527903,-17.045025,NaN,-18.147370,-16.686711,-40.557700,-62.144650,repdennyheck
repbobbyrush,NaN,-270.786,-30.679700,-1.161955,NaN,NaN,NaN,-8.652900,-1.898720,repbobbyrush
nitalowey,-1.298840,-215.463,-39.049700,-6.699170,NaN,-11.493604,-1.084320,-3.043239,-18.510867,nitalowey
repcleaver,-6.302088,-194.110,-8.202654,-32.020135,-0.119293,0.375556,-18.248317,-3.684110,-9.614692,repcleaver

## Merge with legislator data
Now we merge our #polar-tag data with data about the legislators (e.g., party, state).

In [7]:
# get the data from Govtrack
with open(git_data_path + 'legislators-social-media-nov16.yaml', 'r') as f:
    df_social = pd.io.json.json_normalize(yaml.load(f))

with open(git_data_path + 'legislators-current.yaml', 'r') as f:
    df_current = pd.io.json.json_normalize(yaml.load(f))

# merge everything into one data frame with one row per MOC
df_meta = pd.merge(df_current, df_social, on="id.govtrack")
df_meta["handle"] = df_meta["social.twitter"].str.lower()

print("metadata length: " + str(len(df_meta)))

metadata length: 470

In [30]:
print("weekly_df length: " + str(len(weekly_df)))

df_merged = pd.merge(df_meta, weekly_df, on="handle", how='outer', indicator=True)
                     
print("df_merged length: " + str(len(df_merged)))

#cols_to_keep = ['id.govtrack','social.twitter','name.official_full','bio.gender','terms','week1','week2','week3','week4','week5','week6','week7','week8','week9']

df_merged = df_merged[['_merge','id.govtrack','handle','name.official_full','bio.gender','terms','week1','week2','week3','week4','week5','week6','week7','week8','week9']]
df_merged.to_csv(git_data_path + 'meta_weekly_merged.csv', encoding='utf-8')

weekly_df length: 511
df_merged length: 529

In [9]:
# see where the merge failed and probably fix those by hand
df_merge_failed = df_merged.loc[df_merged['_merge'] != "both"]
df_merge_failed.to_csv(git_data_path + 'merge_failed.csv', encoding='utf-8')

In [51]:
# Thank you, Roger Allen, https://gist.github.com/rogerallen/1583593
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [52]:
# get bioguide ids
bg_path = git_data_path + 'bioguide_ids.tsv'
bg = pd.DataFrame.from_csv(bg_path, sep='\t', header=0)
bg["Name"] = bg["Name"].str.strip()
bg['LastName'], bg['FirstName'] = bg['Name'].str.split(',', 1).str
bg['PartyState'] = bg['PartyState'].str.replace(")","")
bg['Party'], bg['State'] = bg['PartyState'].str.split(' - ', 1).str
bg['State_Abbrev'] = bg.State.map(us_state_abbrev)
bg = bg.rename(index=str, columns={"Member ID": "bioguide"})

bg.head()

,Name,PartyState,bioguide,LastName,FirstName,Party,State,State_Abbrev
Member,,,,,,,,
"Abdnor, James (Republican - South Dakota)","Abdnor, James",Republican - South Dakota,A000009,Abdnor,James,Republican,South Dakota,SD
"Abercrombie, Neil (Democratic - Hawaii)","Abercrombie, Neil",Democratic - Hawaii,A000014,Abercrombie,Neil,Democratic,Hawaii,HI
"Abourezk, James (Democratic - South Dakota)","Abourezk, James",Democratic - South Dakota,A000017,Abourezk,James,Democratic,South Dakota,SD
"Abraham, Ralph Lee (Republican - Louisiana)","Abraham, Ralph Lee",Republican - Louisiana,A000374,Abraham,Ralph Lee,Republican,Louisiana,LA
"Abraham, Spencer (Republican - Michigan)","Abraham, Spencer",Republican - Michigan,A000355,Abraham,Spencer,Republican,Michigan,MI

In [53]:
# get Ballotpedia House results data
bp_house = pd.DataFrame.from_csv(git_data_path + 'house_results.csv', sep=",", header=0)
bp_house.head()

,inc_name,inc_party,inc_ran,inc_won,had_challenger,winner_votes,runnerup_votes,winner_party,runnerup_party,Clinton 2016,Trump 2016,Obama 2012,Romney 2012,Obama 2008,McCain 2008
district,,,,,,,,,,,,,,,
AK-AL,"Young, Don",R,1,1,1,"155,088","111,019",R,D,37.6,52.8,41.2,55.3,38.1,59.7
AL-01,"Byrne, Bradley",R,1,1,0,"208,083","7,810",R,write in,34.1,63.5,37.4,61.8,38.5,60.9
AL-02,"Roby, Martha",R,1,1,1,"134,886","112,089",R,D,33.0,64.9,36.4,62.9,35.0,64.5
AL-03,"Rogers, Mike",R,1,1,1,"192,164","94,549",R,D,32.3,65.3,36.8,62.3,36.6,62.6
AL-04,"Aderholt, Rob",R,1,1,0,"235,925","3,519",R,write in,17.4,80.4,24.0,74.8,25.5,73.3

In [60]:
# get Ballotpedia Senate results data
bp_sen = pd.DataFrame.from_csv(git_data_path + 'senate_results.csv', sep=",", header=0)
bp_sen['State'] = bp_sen.index
bp_sen.head()

,inc_name,inc_party,inc_ran,inc_won,had_challenger,winner_votes,runnerup_votes,winner_party,runnerup_party,State
district,,,,,,,,,,
AL,Shelby,R,1,1,1,"1,335,104","748,709",R,D,AL
AK,Murkowski,R,1,1,1,138149,36200,R,D,AK
AZ,McCain,R,1,1,1,"1,359,267","1,031,245",R,D,AZ
AR,Boozman,R,1,1,1,"661,984","400,602",R,D,AR
CA,Boxer,D,0,0,0,"7,542,753","4,701,417",D,D,CA

In [66]:
# match bioguide id data to name data from Ballotpedia for the House
with_election_results = pd.merge(bg, bp_house, left_on="Name", right_on="inc_name")
with_election_results.to_csv(git_data_path + 'bioguide_house_results.csv')
with_election_results = pd.merge(bg, bp_sen, left_on=["LastName","State_Abbrev"], right_on=["inc_name","State"])
with_election_results.to_csv(git_data_path + 'bioguide_sen_results.csv')

# This automated approach to merging gets about half the House and most of the Senate results. Doing the rest by hand.

In [33]:
df1 = pd.concat([df_merged.drop(['terms'], axis=1), df_merged['terms'].apply(pd.Series)], axis=1)
df2 = pd.concat([df1.drop([0], axis=1), df1[0].apply(pd.Series)], axis=1)

keep_df = df2[['id.govtrack','handle','name.official_full','bio.gender','type','party','week1','week2','week3','week4','week5','week6','week7','week8','week9']]
keep_df

,id.govtrack,handle,name.official_full,bio.gender,type,party,week1,week2,week3,week4,week5,week6,week7,week8,week9
0,400050,sensherrodbrown,Sherrod Brown,M,rep,Democrat,-0.873145,-1.141480,-1.825096,-21.350100,-0.467001,0.422609,-16.612679,0.359653,-0.367748
1,300018,senatorcantwell,Maria Cantwell,F,rep,Democrat,-42.572318,-8.845897,-3.729938,-21.854320,-10.628532,-18.030278,-17.871626,-9.655197,-17.863474
2,400064,senatorcardin,Benjamin L. Cardin,M,rep,Democrat,-8.692816,-4.934183,-5.241676,-15.389205,-1.365323,-8.171898,-9.316775,-5.438023,-9.632692
3,300019,senatorcarper,Thomas R. Carper,M,rep,Democrat,-38.936383,0.153670,-4.047725,-10.227893,-11.687868,0.652402,-2.603721,-1.830320,-2.459966
4,412246,senbobcasey,"Robert P. Casey, Jr.",M,sen,Democrat,-19.997507,-4.658190,-1.272941,-21.918950,-1.944227,-3.823387,-12.673860,-7.019990,-36.656500
5,412248,senbobcorker,Bob Corker,M,sen,Republican,2.096852,5.911753,2.764636,4.465404,NaN,1.819670,NaN,1.748260,NaN
6,300043,senfeinstein,Dianne Feinstein,F,sen,Democrat,-22.061820,-39.389700,-7.216368,-16.176455,-6.700642,-5.140945,-19.095330,NaN,-19.184040
7,300052,senorrinhatch,Orrin G. Hatch,M,sen,Republican,5.009444,11.089169,11.336792,11.149503,6.292435,5.263352,2.093247,19.990525,2.214622
8,412242,NaN,Amy Klobuchar,F,sen,Democrat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,412438,NaN,Justin Amash,M,rep,Republican,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,400041,NaN,Madeleine Z. Bordallo,F,rep,Democrat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,412269,NaN,Bill Cassidy,M,rep,Republican,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,400074,NaN,Wm. Lacy Clay,M,rep,Democrat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,400648,NaN,Charles W. Dent,M,rep,Republican,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,412492,NaN,Rand Paul,M,sen,Republican,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,400343,NaN,Dana Rohrabacher,M,rep,Republican,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,412312,NaN,Gregorio Kilili Camacho Sablan,M,rep,Democrat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,412243,mccaskilloffice,Claire McCaskill,F,sen,Democrat,-1.730870,-30.371824,-8.932897,-2.108497,-0.586722,1.789353,-0.857143,-1.657192,-0.748092
18,400272,senatormenendez,Robert Menendez,M,rep,Democrat,-11.664095,-8.637506,-0.829845,-19.863147,-1.791103,-16.889765,-13.598838,-3.754033,-29.232743
19,300078,senbillnelson,Bill Nelson,M,rep,Democrat,NaN,NaN,NaN,-2.973130,NaN,NaN,NaN,NaN,NaN
20,400357,sensanders,Bernard Sanders,M,rep,Independent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,300093,senstabenow,Debbie Stabenow,F,rep,Democrat,-63.264221,-5.766660,-19.464029,-24.568050,-0.974929,-0.004167,-1.007516,-2.045450,NaN
22,412244,senatortester,Jon Tester,M,sen,Democrat,-1.047010,-18.217558,-2.512975,-1.661742,-0.972498,4.511645,-2.106719,-0.125000,-2.425630
23,412247,senwhitehouse,Sheldon Whitehouse,M,sen,Democrat,-26.853336,-27.274468,-5.569098,-6.160863,-2.246048,-9.130128,-4.165760,-5.475702,-2.099844
24,412251,senjohnbarrasso,John Barrasso,M,sen,Republican,4.942894,6.825128,7.079800,5.472713,10.347800,12.068000,NaN,10.643255,0.994846
25,400432,senatorwicker,Roger F. Wicker,M,rep,Republican,3.311616,4.627424,1.865487,13.706856,3.298502,0.541246,2.581520,2.915013,16.705787
26,300002,senalexander,Lamar Alexander,M,sen,Republican,1.270574,0.372202,2.370960,5.663333,0.961795,1.086960,5.265680,9.566804,3.934552
27,300023,senthadcochran,Thad Cochran,M,rep,Republican,1.473718,1.209245,4.049195,0.612929,-0.024119,10.846300,NaN,NaN,0.010980
28,300025,senatorcollins,Susan M. Collins,F,sen,Republican,NaN,1.052260,1.380303,0.140903,0.000000,0.974138,0.863636,NaN,1.138610
29,300027,johncornyn,John Cornyn,M,sen,Republican,3.905834,4.057145,3.235375,3.354876,3.017808,5.629548,4.949234,4.666477,2.064486
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,NaN,repjohnkline,NaN,NaN,NaN,NaN,NaN,NaN,-0.384204,NaN,NaN,NaN,NaN,NaN,NaN
500,NaN,repkirkpatrick,NaN,NaN,NaN,NaN,-1.310478,-5.084469,-9.416953,-3.572150,-11.751425,-3.621416,-0.382118,-2.772651,-0.680647
501,NaN,reploiscapps,NaN,NaN,NaN,NaN,-33.196006,-45.494674,-2.384483,-22.353045,-1.000000,-29.509420,-18.358518,-20.904660,-35.994900
502,NaN,repmattsalmon,NaN,NaN,NaN,NaN,0.390071,2.465455,4.678200,24.574385,NaN,NaN,0.989362,NaN,1.159570
503,NaN,repmickmulvaney,NaN,NaN,NaN,NaN,4.835520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,NaN,repmikehonda,NaN,NaN,NaN,NaN,-29.132193,-97.338763,-23.653977,-2.424985,-9.423864,-19.444120,-12.703456,-31.437360,-27.755584
505,NaN,repmikepompeo,NaN,NaN,NaN,NaN,2.828413,4.825435,6.262600,1.780711,4.900255,6.716590,0.863636,1.393826,1.920663
506,NaN,repmurphyfl,NaN,NaN,NaN,NaN,-38.165120,-1.890587,-7.875268,-3.647394,0.749298,-11.533109,-29.087522,-0.004217,-32.889857
507,NaN,repreneeellmers,NaN,NaN,NaN,NaN,9.555775,14.212368,5.589657,10.681793,17.683403,9.095713,2.080782,12.689760,5.835900
508,NaN,repribble,NaN,NaN,NaN,NaN,3.314920,0.650823,4.174186,1.328370,2.298584,NaN,5.530140,0.428393,1.000000
509,NaN,reprichardhanna,NaN,NaN,NaN,NaN,NaN,4.258835,13.179188,10.436500,NaN,NaN,1.058250,NaN,NaN
510,NaN,reprichnugent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,NaN,reproberthurt,NaN,NaN,NaN,NaN,0.995847,-0.091158,1.015867,NaN,2.363640,NaN,NaN,0.851852,NaN
512,NaN,reprobinkelly,NaN,NaN,NaN,NaN,-14.258588,-55.327120,-8.326123,-8.934598,-9.368137,-15.336633,-0.848739,-34.513200,0.966762
513,NaN,repryanzinke,NaN,NaN,NaN,NaN,1.436580,1.681643,0.715214,0.929032,NaN,NaN,NaN,0.541437,1.938780
514,NaN,repsamfarr,NaN,NaN,NaN,NaN,-41.916244,-90.888035,-18.366537,-28.065754,-7.377266,-13.430752,-11.589503,-2.476888,-37.468274
515,NaN,repscottrigell,NaN,NaN,NaN,NaN,0.011430,3.864532,1.367449,0.550515,NaN,1.916123,-0.000057,NaN,2.424227
516,NaN,repsteveisrael,NaN,NaN,NaN,NaN,-51.045571,-91.038240,-50.425597,-40.076849,-27.263111,-51.415240,-7.964841,-41.854800,-38.585068
517,NaN,repstutzman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
518,NaN,repthomasmassie,NaN,NaN,NaN,NaN,0.884615,0.867052,1.780650,NaN,NaN,NaN,NaN,1.500000,NaN
519,NaN,reptomprice,NaN,NaN,NaN,NaN,4.089678,14.813170,3.254568,9.758600,5.559957,7.749532,9.665111,24.722238,15.817444
520,NaN,repwestmoreland,NaN,NaN,NaN,NaN,1.452098,9.113618,NaN,0.929032,1.034780,1.552008,1.058250,NaN,NaN
521,NaN,senatorbarb,NaN,NaN,NaN,NaN,NaN,-6.193530,NaN,NaN,NaN,-0.911504,-0.865494,NaN,-29.175600
522,NaN,senatorboxer,NaN,NaN,NaN,NaN,NaN,-6.368070,-61.565200,-24.810395,NaN,-12.873100,-0.857143,NaN,NaN
523,NaN,senatorkirk,NaN,NaN,NaN,NaN,3.650122,2.992400,5.379320,3.882078,2.538492,4.540435,2.691252,1.175212,2.165448
524,NaN,senatorreid,NaN,NaN,NaN,NaN,-25.980025,NaN,-2.078500,-25.203463,-2.205610,NaN,NaN,NaN,-36.656500
525,NaN,sendancoats,NaN,NaN,NaN,NaN,1.928316,1.221491,NaN,1.941702,0.867234,3.387825,2.058750,1.813163,0.714777
526,NaN,sengillibrand,NaN,NaN,NaN,NaN,-3.499218,-9.243060,-6.738413,-15.619428,-7.450032,-21.673797,-18.842458,-7.488268,-21.056116
527,NaN,usrepdavidjolly,NaN,NaN,NaN,NaN,-8.071250,-7.510378,NaN,1.077513,1.843037,4.153915,1.680930,0.673365,1.021028
528,NaN,usreprhinojosa,NaN,NaN,NaN,NaN,-4.539970,-2.240295,-5.791910,-28.127240,NaN,NaN,NaN,-1.096150,NaN

In [34]:
# melt it so each row is a person x week
df_long = pd.melt(keep_df, id_vars=['id.govtrack','handle','name.official_full','bio.gender','party','type'],
                value_vars=['week1','week2','week3','week4','week5','week6','week7','week8','week9'],
                var_name='week', value_name='avg_score')
df_long['week'] = df_long['week'].str[-1:]

df_long.rename(columns = {'type':'chamber', 'name.official_full': 'name', 'bio.gender': 'gender'}, inplace = True)

df_long.head()

,id.govtrack,handle,name,gender,party,chamber,week,avg_score
0,400050,sensherrodbrown,Sherrod Brown,M,Democrat,rep,1,-0.873145
1,300018,senatorcantwell,Maria Cantwell,F,Democrat,rep,1,-42.572318
2,400064,senatorcardin,Benjamin L. Cardin,M,Democrat,rep,1,-8.692816
3,300019,senatorcarper,Thomas R. Carper,M,Democrat,rep,1,-38.936383
4,412246,senbobcasey,"Robert P. Casey, Jr.",M,Democrat,sen,1,-19.997507

In [ ]:
# make sure we have just two parties
df_long.party.unique()

In [ ]:
# get an absolute value of the polar score
df_long['abs'] = df_long['avg_score'].abs()

In [ ]:
df_long.to_csv('data-files/weekly_averages_long.csv')

# Now move to R for analysis

Run ```~/Documents/git/casmlab/purpletag/2016_election.R```

That R script sends its output to ```2016_election_results.txt```

In [ ]:
results = open('data-files/2016_election_results.txt', 'r')
print(results.read())

Based on the outlier-excluded linear mixed-effects models, it makes sense to remove RepThompson. The pattern stays the same even with RepThompson in the set though: negative effect for republican and week, positive effect for their interaction. ```lmm5``` is the model-of-best-fit.

## Changing the way we score hashtags

What if we score tags for the 63-day period and then score MOCS?

Run the following (on the server) to get new scores:

* purpletag parse -t 63 -d 200
* purpletag score
* purpletag score --counts --score-mocs

That first command took a week because the code starts with today and works backwards 200 days, one day at a time. Each day takes over an hour. See Issue #18 about options for changing this behavior.

With the new tag measures, can start the process over. Start at "On Server: Parsing scores to CSV" with a new file name.

# Getting Tag Data for Paper

We need to know more about the tags people were using to make sense of the regression results. So, let's get some tag data.'

In [ ]:
score_files = build_file_list('/data/purpletag/scores', '*.1.scores')
build_df(score_files, '/data/purpletag/scores_by_date.pkl', 'tag')

In [ ]:
import pandas as pd

df = pd.read_pickle('/data/purpletag/scores_by_date.pkl')
df.head()

In [ ]:
df = weekly_avg(df)
df.head()

In [ ]:
df_tags_weeks = df[['week1','week2','week3','week4','week5','week6','week7','week8','week9']]
df_tags_weeks = df_tags_weeks.dropna(how='all')
df_tags_weeks.head()
len(df_tags_weeks.index) # number of hashtags in our df

What was happening in week 2 that made Democrats so polarized that week?

In [ ]:
week2 = df_tags_weeks.sort_values(by = 'week2', ascending = True)
week2.head(10)

In [ ]:
week2 = df_tags_weeks.sort_values(by = 'week2', ascending = False)
week2.head(10)

In [ ]:
week9_dems = df_tags_weeks.sort_values(by = 'week9', ascending = True)
week9_dems.head(10)

In [ ]:
week9_reps = df_tags_weeks.sort_values(by = 'week9', ascending = False)
week9_reps.head(10)

# Go to the JSON for examples

In [ ]:
import json
from datetime import datetime

# print(datetime.now().strftime('%Y-%m-%d %H:%M:%S'))

missing = ['repboustany', 'repcorrinebrown', 'repduckworth', 'repgwengraham', 'repjoeheck', 
           'repjoepitts', 'repkirkpatrick', 'repmattsalmon', 'repmickmulvaney', 'repmikepompeo', 
           'repmiketurner', 'repmurphyfl', 'reprobbishop', 'repsamfarr', 'reptoddyoung', 'senatorsessions', 
           'senatortester', 'sentoomey', 'tiberipress', 'yvetteclarke']

# search JSON for high score tweeters
with open('/data/purpletag/jsons/1478545228.json','r') as f:
    for line in f:
        data = json.loads(line)
#         if (data['user']['screen_name'].lower() == 'replawrence' 
#             or data['user']['screen_name'].lower() == 'repdennyheck'): # most polarized Dems during Week 2
        if (data['user']['screen_name'].lower in missing):
            print(data['user']['screen_name'])
            print(data['created_at'])
            print(data['text'])
                        
# print(datetime.now().strftime('%Y-%m-%d %H:%M:%S')) # takes about 2 min to search the whole thing

In [ ]:
matches = list()

# search JSON for high score tags
with open('/data/purpletag/jsons/1478545228.json','r') as f:
    for line in f:
        data = json.loads(line)
        tags = data['entities']['hashtags']
        for tag in tags:
            if tag['text'].lower() == 'gunvote':
                matches.append(data['id'])
                print(data['user']['screen_name'])
                print(data['created_at'])
                print(data['text'])

print(len(matches))

In [ ]:
# check for missing data from alternate_route.ipynb
# search JSON for high score tags
with open('/data/purpletag/jsons/1478545228.json','r') as f:
    for line in f:
        data = json.loads(line)
        tags = data['entities']['hashtags']
        for tag in tags:
            if tag['text'].lower() == 'gunvote':
                matches.append(data['id'])
                print(data['user']['screen_name'])
                print(data['created_at'])
                print(data['text'])

print(len(matches))